.headerContainer

	.mobileHeader
		.dirContainerMobile


	.navigationContainer
		.dirContainer
			.dir01
				.logoContainer01
					img(src="images/logo01.png")
				.thumbImage
					.thumb
						img(src="images/eneos.png")
					.logoContainer02
						img(src="images/logo02.png")
			.dir02
				.data01
					img(src="images/hl.png").spacer
					img(src="images/timeData.png")
				.data02
					img(src="images/phone.png").spacer01
					img(src="images/phoneData.png").spacer01
					img(src="images/cell.png").spacer01
					img(src="images/cellData.png")


		.menuContainer
			ul.eng
				li: a(href="#") COMPANY
				li: a(href="#") ADVANTAGE
				li: a(href="#") BUSINESS
				li: a(href="#") FAQ
				li: a(href="#") RECRUIT

			ul.jap
				li: a(href="#") 会社案内
				li: a(href="#") 塚本の強み
				li: a(href="#") 事業紹介
				li: a(href="#") よくある質問
				li: a(href="#") 採用情報z

	#header-mobile-nav-button.header-mobile-nav-button


	.mailContainer
		img(src="images/envelopeLogo.png" width="42px" height="31px").bottomSpacer.fullscreen
		img(src="images/envelopeText.png").fullscreen

.mobile-navigation#mobile-navigation


	