<!DOCTYPE html>
<html>
    <head>
        <meta charset="SHIFT_JIS"">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <link rel="icon" href="{{site.baseurl}}/assets/img/favicon.ico" type="image/x-icon">
        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#3d3d3d">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/style.css">
        
    </head>
    
    <body>
        {{content}}
    </body>
    <!--Custom JS-->
    <script type="text/javascript" src="js/slider.js"></script>
    <script type="text/javascript" src="js/mobile-button.js"></script>
    
</html>
